@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Maiden+Orange&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Lobster&family=Maiden+Orange&family=Peralta&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Lobster&family=Maiden+Orange&family=Peralta&family=Pixelify+Sans&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&family=Luckiest+Guy&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Unbounded:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Unbounded:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  background: rgb(255,214,90);
  background: linear-gradient(90deg, rgba(255,214,90,1) 4%, rgba(247,179,107,1) 33%, rgba(255,214,90,1) 65%, rgba(247,179,107,1) 93%, rgba(246,153,1,1) 100%);
  font-family: 'Bebas Neue', sans-serif;
  color: black;
}

/*header*/
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 5rem;
  background-color: transparent;
}

.header__nav{
  padding: 0.60rem;
  margin-left: 175px;
}

.header__lista{
  color: black;
  align-items: center;
  font-size: 1.25rem;
}
.header__delivery{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(228, 84, 84);
  font-size: 22px;
}

.header__lista:hover{
  text-decoration: underline black;
}

.logo{
  display: flex;
  align-items: center;
}

.logo__tamaño{
  width: 210px;
}

.header__titulo{
  list-style: none;
  display: flex;
  gap: 1.50rem;
  align-items: center;
  font-weight: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
} 
/*header*/


/*seccion registrarme*/
.menu__registrarme{
  height: 100vh;
  background-image: url(../img/fondo.naranja.registrarme.webp);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjeta__registrarme{
  width: 500px;
  height: 600px;
  margin: 0% auto;
  background-color: white;
  border-radius: 20px; /* Define el radio de las esquinas para hacerlas redondeadas */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  flex-wrap: wrap;
}

.div__logo__registrarme{
  margin: 10px;
}

.div__logo__texto__registrarme{
  font-size: 2rem;
  border-bottom: thick double #030303;
}

.tarjeta__registrarme3{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0.50rem;
  margin-right: 0.50rem;
}

.form__div1{
  margin-bottom: 30px;
}

.button__iniciar__registrarme{
  border-radius: 20px;
  border: 2px solid black;
  background-color: rgb(233, 175, 68);
}

.div__divider__all{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.div__divider__left , .div__divider__right{
  width: 100%;
  border-bottom: 2px solid #000000;
  margin: 10px;
}

.div__divider__center{
  margin-left: 1rem;
  margin-right: 1rem;
}

.div__redes__enlaces__registrarme{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.50rem;
}

.a__redes__enlaces__registrarme{
  padding: 8px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: rgb(233, 175, 68);
}
/*seccion registrarme*/


/*seccion quienes somos o nosotros*/

.nosotros__subtitulo{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  background-color: #E29505;
}

.seccion__nosotros{
  /*NADA*/
}

.sobre__nosotros{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  font-size: 5rem;
  color: #000000;
}

.contenedornosotros{
  background: linear-gradient(to top, #fbbe00, rgb(230, 169, 56), rgb(216, 133, 24) yellow, rgb(218, 218, 99));
  min-height: 100vh;
  margin: 8px; /*para separar los 4 grid de los margernes del costado*/
  margin-bottom: 100px;
  gap: 1rem; /*gap para separar los 4 grid entre si*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "nosotros1 nosotros1 nosotros2 nosotros2"
    "nosotros3 nosotros3 nosotros4 nosotros4"
    ;
}

.grid-item-nosotros1{
  background: linear-gradient(to right, #fbbe00, rgb(230, 169, 56), rgb(216, 133, 24));
  grid-area: nosotros1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
}

.imglogonosotros{
  max-width: 400px;
}

.grid-item-nosotros2{
  background-image: url(../img/fondo.hamburgueseria.jpg);
  grid-area: nosotros2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 4rem;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 22px;
  border: 1px solid black;
  transition: 1s;
  border-radius: 5px;
}
.grid-item-nosotros2:hover{
  transform: translateX(-450px) scale(1.05);
}

.grid-item-nosotros3{
  background-image: url(../img/fondo.paisaje.jpg);
  grid-area: nosotros3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 4rem;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 22px;
  font-weight: 1rem;
  border: 1px solid black;
  transition: 1s;
  border-radius: 5px;
}
.grid-item-nosotros3:hover{
  transform: translateX(450px) scale(1.05);
}

.imglogonosotros2{
  max-width: 350px;
}

.bi-recycle{
  font-size: 20px;
  padding: 3px;
}

.grid-item-nosotros4{
  background: linear-gradient(to right, #fbbe00, rgb(230, 169, 56), rgb(216, 133, 24));
  grid-area: nosotros4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
}
/*seccion quienes somos o nosotros*/


/*seccion locales*/
.container__locales__titulo{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  background-color: #E29505;
}

.div1__titulo__locales{
  display: flex;
  margin: 36px;
}

.titulo__locales{ 
  font-size: 5rem;
  color: #000000;
  justify-content: center;
  align-items: center;
}

.container__locales__info{
  min-height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.caja__locales{
  width: 400px;
  height: 350px;
  position: relative;
  overflow: hidden;
  margin: 20px;
  border: 5px solid rgb(218, 165, 67);
  border-radius: 4px;
  box-shadow: 10px 10px 10px 5px rgb(37, 35, 35);
}

.caja__locales img{
  width: 100%;
  height: 100%;
}

.locales__capa{
  position: absolute;
  top: 0;
  left: 0;
  color:white;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(0);
  transition: .1s;
}
.caja__locales:hover .locales__capa{
  transform: scale(1);
}

.locales__capa__titulo{
  font-size: 4rem;
}

/*seccion locales*/


/*seccion inicio*/
.maininicio{
  background-image: url(../img/fondohamburguesas.logo.jpg);
  height: auto;
  flex-wrap: wrap;
}

.maininicio1{
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainpromo{
  font-size: 2.50rem;
  border: 2px dashed black;
  padding: 5px;
}

.maintexto{
  font-size: 6rem;
}

.mainmonster{
  font-size: 3rem;
}

.mainbutton{
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Bebas Neue', sans-serif;
  padding: 10px;
  transition: 1s;
  background-color: rgb(250, 178, 43);
}

.mainbutton:hover{
  background-color: rgb(201, 130, 0);
}

.mainpromoburguer img{
  max-width: 625px;

  animation-name: moverse;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes moverse {
  0% {
    top: 0px;
    transform: translateY(0px);
  }
  50% {
    top: -100px; /* Mover arriba */
    transform: translateY(-80px);
  }
  0% {
    top: 0px;
    transform: translateY(0px);
  }
}

/*seccion grid*/

.sectiongrid1{
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.sectiongrid2{
  background: linear-gradient(to right, #fbbe00, rgb(230, 169, 56), rgb(216, 133, 24));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bi-hand-thumbs-up{
  font-size: 2rem;
}

.grid-item-inicio{
  display: flex;
  font-size: 2rem;
}

.grid-item-inicio1{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  border: 2px solid black;
  padding: 10px;
  transition: 1s;
}

.grid-item-inicio1:hover  {
  transform: scale(1.25);
  background-color: azure;
}

.sectiongrid3{
  background-image: url(../img/Funciones-de-un-jefe-de-cocina-en-un-restaurante-1.jpg);
  background-size: cover;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectiongrid4{
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  border: 4px solid black;
  padding: 10px;
  transition: 1s;
}

.sectiongrid4:hover{
  transform: scale(1.25);
  background-color: white;
}

.main1{
  background-color: #42213D;
  text-align: center;
  padding: 5px;
  margin: 40px;
  border: 2px solid white;
}

.inicio1{
  color: white;
}*/
/*seccion inicio*/


/*productos*/
.mainproductos{
  min-height: 100vh;
}

.nuestromenu0{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  background-color: #E29505;
}

.secciones {
 /*NADA*/
}

.nuestromenu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  font-size: 5rem;
  color: #000000;
}

.productos__subtitulo__seccion{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.productos__subtitulo__seccion__size{
  font-size: 8rem;
  color: #fbbe00;
  -webkit-text-stroke: 2px #000000;
  text-shadow: 4px 4px 4px #000;
}

.productos_0{
  display: flex;
  justify-content: center;
}

.productos_1 {
  width: 300px;
  color: black;
  padding: 5px;
  display: inline-block;
}

.productos_imagen{
  width: 100%;
}

.productos_titulo{
  font-size: 24px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

.productos_parrafo{
  font-size: 18px;
  display: flex;
  justify-content: center;
  border: 2px dashed black;
  padding: 2px;
}
.productos_boton{
  border: none;
}

.productos_imagen,
.productos_titulo,
.productos_parrafo{
  margin-bottom: 10px;
}

.promoproductos1{
  color: rgb(161, 24, 24);
  font-size: 30px;
  font-weight: 30px;
}

.productos__postres{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.productos__postres__caja{
  margin: 20px;
}

.productos__postres__titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.productos__postres__parrafo{
  display: flex;
  justify-content: center;
  border: 2px dashed black;
  font-size: 1.10rem;
}

/*productos*/


/*footer*/
footer{
  height: auto;
  color: black;
  background-color: #FFAE03;
}

.logo_footer1{
  display: flex;
  justify-content: center;
}

.footer1{
  color:black;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
  border-bottom: 1px solid grey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lista__footer{
  transition: 1s;
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lista__footer:hover{
  color: yellow;
}

.footer2{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.footer__subtitulos{
  text-decoration: underline black;
  font-size: 30px;
  margin-bottom: 10px;
}

.footer3{
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 180px;
}

.footer4{
  list-style: none;
  font-size: 40px;
}

.footer4__redes{
  color: #000000;
  transition: 1s;
}

.footer4__redes:hover{
  color: yellow;
}

.footer5{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
/*footer*/


/*media quaries*/
@media (max-width:1440px){
  /*inicio*/
  .maininicio1{
    margin: 3rem;
  }

   /*section grid*/

   .bi-hand-thumbs-up{
    font-size: 2rem;
  }
  
  .grid-item-inicio{
    display: flex;
    font-size: 2rem;
    margin: 1.25rem;
  }
  
  .grid-item-inicio1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.50rem;
    border: 2px dashed black;
    padding: 10px;
  }

  .sectiongrid3{
    font-size: 2rem;
  }
}

@media (max-width:1024px){
  /*inicio*/
  .maininicio1{
    margin: 3rem;
  }

   /*section grid*/
   .bi-hand-thumbs-up{
    font-size: 1.5rem;
  }
  
  .grid-item-inicio{
    display: flex;
    font-size: 1.5rem;
    margin: 0.50rem;
  }
  
  .grid-item-inicio1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.25rem;
    border: 2px dashed black;
    padding: 10px;
  }

  .sectiongrid3{
    font-size: 1.75rem;
  }
}

@media (max-width:850px) {
  
  /*inicio*/

  .maininicio{
    height: 120vh;
  }

  .maininicio1{
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
  }
  .maintexto{
    padding-inline: 2rem;
    padding-top: 5rem;

  }

  .mainbutton{
    border-color: black;
  }

  .mainpromoburguer{
    padding-top: 0%;

  }
  /*section grid*/
  .bi-hand-thumbs-up{
    font-size: 1.5rem;
  }
  
  .grid-item-inicio{
    display: flex;
    font-size: 1.5rem;
    margin: 0.50rem;
  }
  
  .grid-item-inicio1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.25rem;
    border: 2px dashed black;
    padding: 10px;
  }

  .sectiongrid3{
    font-size: 1.75rem;
  }

  /*seccion quienes somos o nosotros*/

  .contenedornosotros{
  background-color: #ffd65a;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nosotros1"
    "nosotros2"
    "nosotros4"
    "nosotros3"
    ;
  }

  /*seccion locales*/

  .div3__titulo__locales{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div4__titulo__locales{
    padding: 2rem;
  }
}

@media (max-width:670px){
  /*inicio*/
  .maininicio1{
    margin: 3rem;
  }

   /*section grid*/

   .bi-hand-thumbs-up{
    font-size: 2rem;
  }
  
  .grid-item-inicio{
    display: flex;
    font-size: 2rem;
    margin: 1.25rem;
  }
  
  .grid-item-inicio1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.50rem;
    border: 2px dashed black;
    padding: 10px;
  }

  .sectiongrid3{
    font-size: 1.50rem;
  }
}

@media (max-width:615px){
  /*header*/
  .header{
    flex-direction: column;
    min-width: 400px;
  }
  .titulo{
    gap: 0.50rem;
  }
  /*inicio*/

  .maininicio{
    background-image: url(../img/fondohamburguesas.logo.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainpromo{
    font-size: 1.5rem;
    border: 2px dashed black;
    padding: 5px;
  }
  
  .maintexto{
    font-size: 3rem;
    margin: 2rem; 
  }
  
  .mainbutton{
    border: 2px solid black;
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
  }
  
  .mainpromoburguer img{
    max-width: 480px;
  }
  /*seccion grid inicio*/

  .sectiongrid1{
    height: 95vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .sectiongrid2{
    background-color: #fbbe00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .bi-hand-thumbs-up{
    font-size: 2rem;
  }
  
  .grid-item-inicio{
    margin: 0.75rem;
  }
  
  .sectiongrid4{
    margin: 0.75rem;
  }

  /*seccion locales*/

  .div3__titulo__locales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div4__titulo__locales{
    padding: 2rem;
  }

  /*footer*/

  footer{
    min-height: 20vh;
    min-width: 400px; 
  }
  
  .logo_footer2{
    padding-top: 1rem;
  }
  
  .footer1{
    padding-top: 1.75rem;
    font-size: 0.85rem;
  }
  
  .footer2{
    gap: 0.25rem;  
  }
}

@media (max-width:480px){
  .mainpromoburguer img{
    max-width: 420px;
  }
}

@media (max-width:415px){
  /*header*/
  .header{
    flex-direction: column;
  }
  .titulo{
    gap: 0.50rem;
  }
  /*inicio*/

  .mainpromo{
    font-size: 1.5rem;
    border: 2px dashed black;
    padding: 5px;
  }
  
  .maintexto{
    font-size: 3rem;
    margin: 2rem; 
  }
  
  .mainbutton{
    border: 2px solid black;
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
  }
  
  .mainpromoburguer img{
    max-width: 360px;
  }
  /*seccion grid inicio*/

  .sectiongrid1{
    height: 95vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .sectiongrid2{
    background-color: #fbbe00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .bi-hand-thumbs-up{
    font-size: 2rem;
  }
  
  .grid-item-inicio{
    margin: 0.75rem;
  }
  
  .sectiongrid4{
    margin: 0.75rem;
  }

  /*productos o menu*/
  .mainproductos{
    min-height: 250vh;
  }
  
  .productos_0{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .productos_1 {
    width: 300px;
    background-color: #ffd65a;
    color: black;
    display: inline-block;
  }
  
  .productos_imagen{
    width: 100%;
  }
  
  .productos_titulo{
    font-size: 24px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
  }
  
  .productos_parrafo{
    font-size: 18px;
    display: flex;
    justify-content: center;
    border: 2px dashed black;
    padding: 2px;
  }

  /*footer*/

  footer{
    min-height: 15vh;
  }
  
  .footer1{
    padding-top: 1.75rem;
    font-size: 0.85rem;
  }
  
  .footer2{
    gap: 0.25rem;  
  }
}

@media (max-width:375px){
  .titulo{
    font-size: 14px;
  }
  
  .footer{
    min-width: 200px;
  }

  .footer2{
    font-size: 11px; 
  }
}

@media (max-width:320px) {
  /*header*/
  .header{
    min-width: 150px;
  }
  
  /*inicio*/

  /*main*/
  .maininicio{
    min-width: 150px;
  }

  .mainpromoburguer img {
    max-width: 300px;

  }
    /*footer*/
  footer{
    min-height: 20vh;
    min-width: 150px; 
  }

  /*nosotros*/

  .imglogonosotros{
    max-width: 300px;
  }

  .imglogonosotros2{
    max-width: 250px;
  }
}

@media (max-height:800px) {
  .maininicio{
    min-height: 135vh;
  }
}

@media (max-height:715px) {
  .maininicio{
    min-height: 150vh;
  }
}

@media (max-height:640px) {
  .maininicio{
    min-height: 165vh;
  }
}

@media (max-height:580px) {
  .maininicio{
    min-height: 175vh;
  }
}

@media (max-height:510px) {
  .maininicio{
    min-height: 175vh;
  }
}