.nosotros__subtitulo{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    background-color: #E29505;

    .seccion__nosotros{
        /*NADA*/

        .sobre__nosotros{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px;
            font-size: 5rem;
            color: #000000;

            @include Tablet4 {
                margin-left: 140px;
            }

            @include Tablet5 {
                margin-left: 100px;
            }

            @include Mobile {
                margin-left: 70px;
            }

            @include Mobile2 {
                margin-left: 50px;
            }

            @include Mobile3 {
                font-size: 4.80rem;
            }
        }
    }
}

.contenedornosotros{
    background: linear-gradient(to top, #fbbe00, rgb(230, 169, 56), rgb(216, 133, 24) yellow, rgb(218, 218, 99));
    min-height: 100vh;
    margin: 8px; /*para separar los 4 grid de los margernes del costado*/
    margin-bottom: 100px;
    gap: 1rem; /*gap para separar los 4 grid entre si*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "nosotros1 nosotros1 nosotros2 nosotros2"
    "nosotros3 nosotros3 nosotros4 nosotros4";

    @include portatil9 {
        background-color: #ffd65a;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "nosotros1"
        "nosotros2"
        "nosotros4"
        "nosotros3"
    ;
    }

    @include Mobile {
        margin: none;
        gap: 0rem;
    }


    .grid-item-nosotros1{
        background: linear-gradient(to right, #fbbe00, rgb(230, 169, 56), rgb(216, 133, 24));
        grid-area: nosotros1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 5px;

        .imglogonosotros{
            max-width: 400px;

            @include Mobile {
                max-width: 300px;
            }
        }
    }

    .grid-item-nosotros2{
        background-image: url(../img/fondo.hamburgueseria.jpg);
        grid-area: nosotros2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem 4rem;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 22px;
        border: 1px solid black;
        transition: 1s;
        border-radius: 5px;

        &:hover{
            transform: translateX(-450px) scale(1.05);

            @include portatil5 {
                transform: none;
            }
        }
    }

    .grid-item-nosotros3{
        background-image: url(../img/fondo.paisaje.jpg);
        grid-area: nosotros3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem 4rem;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 22px;
        font-weight: 1rem;
        border: 1px solid black;
        transition: 1s;
        border-radius: 5px;

        &:hover {
            transform: translateX(450px) scale(1.05);

            @include portatil5 {
                transform: none;
            }
        }

        .bi-recycle{
            font-size: 20px;
            padding: 3px;
        }
        }

    .grid-item-nosotros4{
        background: linear-gradient(to right, #fbbe00, rgb(230, 169, 56), rgb(216, 133, 24));
        grid-area: nosotros4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 5px;

        .imglogonosotros2{
            max-width: 350px;

            @include Mobile4 {
                max-width: 250px;
            }
        }
    }
}