.nosotros__subtitulo{
    display: flex;
    justify-content: center;
    background-color: #E29505;

    .seccion__nosotros{
        /*NADA*/

        .sobre__nosotros{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px;
            font-size: 5rem;
            color: #000000;

            @include Tablet4 {
                margin-left: 140px;
            }

            @include Tablet5 {
                margin-left: 100px;
            }

            @include Mobile {
                margin-left: 70px;
            }

            @include Mobile2 {
                margin-left: 50px;
            }

            @include Mobile3 {
                font-size: 4.80rem;
            }
        }
    }
}

.nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2f31;

    .nosotros__cajita{
        width: 650px;

        .nosotros__img{
            width: 580px;
        }

        .nosotros__size__titulo{
            display: flex;
            justify-content: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 5.5rem;
            color:  #E29505;
            -webkit-text-stroke: 2px #e4d7d7;
        }
        .nosotros__size__parrafo{
            display: flex;
            text-align: center;
            font-size: 1.3rem;
            font-family: 'Oswald', sans-serif;
            color: white;
        }

        .nosotros__img2{
            width: 580px;
            margin-left: 30px;
        }
    }
}

.nosotros__trabajo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2b2f31;

    .nosotros__trabajo__div{

        .nosotros__trabajo__titulo{
            display: flex;
            justify-content: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 5.5rem;
            color:  #E29505;
            -webkit-text-stroke: 2px #e4d7d7;
        }

        .nosotros__trabajo__titulo2{
            display: flex;
            justify-content: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 4rem;
            color:  #E29505;
            -webkit-text-stroke: 2px #e4d7d7;
        }
    }

    .nosotros__form{
        width: 700px;
        margin: auto;
        margin-top: 50px;

        .nosotros__form__size{
            display: flex;
            justify-content: center;
            font-size: 3rem;
            color: white;
        }

        .padre__nosotros__boton{
            display: flex;
            justify-content: center;
            gap: 10px;

            .boton_nosotros{
                color: #E29505;
                border: white;
                background-color: white;
            }
        }
    }

    .nosotros__separador__final{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;

        .nosotros__separador__final__size {
            font-size: 8rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color:  #E29505;
            -webkit-text-stroke: 2px #e4d7d7;
        }
    }
}